body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
header {
    background: #500959;
    color: white;
    padding: 16px;
}
section {
    padding: 32px;
}
.projects, .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project, .skill {
    background: white;
    margin: 16px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
ul li{
    list-style: none;
}
form {
    background: white;
    padding: 32px;
    margin: 32px auto;
    width: 50%;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

footer {
    background: #000000;
    color: white;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

