body {
        font-family: Arial, sans-serif;
        text-decoration-color: darkmagenta;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #d3e8eb;
}
ul li{
    list-style: none;
}
form {
    background: white;
    padding: 2rem;
    margin: 2rem auto;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.projects, .skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}
button {
    background-color: #007BFF;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
